<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#fileUploadModal" (click)="clean()">
  File upload
</button>
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileUploadModalLabel">File upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div #success [hidden]="true" class="alert alert-primary alert-dismissible fade" role="alert">
          File uploaded
        </div>
        <div #error [hidden]="true" class="alert alert-danger alert-dismissible fade" role="alert">
          <span #errorText>Some error occurred</span>
        </div>
        <input type="file" #fileInput placeholder="Upload file..." (change)="check()" (click)="clean()"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button #uploadButton type="button" class="btn btn-primary" disabled (click)="upload()">Upload</button>
      </div>
    </div>
  </div>
</div>
