<!--The content below is only a placeholder and can be replaced.-->
<table>
  <tr *ngFor="let row of htmlTable">
    <td *ngIf="row.clientID!=undefined" [attr.rowspan]="row.clientID!=undefined?row.clientID.rowSpan:1">
    {{row.clientID.text}}
  </td>
  <td *ngIf="row.creditCard!=undefined" [attr.rowspan]="row.creditCard!=undefined?row.creditCard.rowSpan:1">
    {{row.creditCard.text}}
  </td>
  <td *ngIf="row.month!=undefined" [attr.rowspan]="row.month!=undefined?row.month.rowSpan:1">
    {{row.month.text}}
  </td>
  <td *ngIf="row.time!=undefined">
    {{row.time.text}}
  </td>
  <td *ngIf="row.transactionType!=undefined">
    {{row.transactionType.text}}
  </td>
  <td *ngIf="row.amount!=undefined">
    {{row.amount.text}}
  </td>
  </tr>
</table>
