body {
  font-family: 'Abel', sans-serif;
}

#content {
  min-height: 1360px;
  margin-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

footer * {
  color: white;
}

footer a:hover {
  color: grey;
  text-decoration: none;
}

button, a {
  cursor: pointer;
}
